<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [300, 150];
    Dashing.numColumns = 12;
  });
</script>

<% content_for :title do %>Health
<% end %>
<div class="gridster">
  <ul>
    <% Config::PROJECTS.each_with_index do |data, index| %>
      <% if data[:prodUrl] %>
        <li data-row="<%= (index / 12) * 4 + 1 %>" data-col="<%= (index % 12) + 1 %>" data-sizex="1" data-sizey="1">
          <div data-id="<%= data[:name] %>-prod" data-view="ServerStatusSquares" data-title="<%= data[:title] %> - Prod"></div>
        </li>
      <% end %>
      <% if data[:preprodUrl] %>
        <li data-row="<%= (index / 12) * 4 + 2 %>" data-col="<%= (index % 12) + 1 %>" data-sizex="1" data-sizey="1">
          <div data-id="<%= data[:name] %>-preprod" data-view="ServerStatusSquares" data-title="<%= data[:title] %> - PreProd"></div>
        </li>
      <% end %>
      <li data-row="<%= (index / 12) * 4 + 3 %>" data-col="<%= (index % 12) + 1 %>" data-sizex="1" data-sizey="1">
        <div data-id="<%= data[:name] %>-dev" data-view="ServerStatusSquares" data-title="<%= data[:title] %> - Dev"></div>
      </li>
      <% if data[:stagingUrl] %>
        <li data-row="<%= (index / 12) * 4 + 4 %>" data-col="<%= (index % 12) + 1 %>" data-sizex="1" data-sizey="1">
          <div data-id="<%= data[:name] %>-staging" data-view="ServerStatusSquares" data-title="<%= data[:title] %> - Staging"></div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
