<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [320, 400]
        Dashing.numColumns = <%= params['team'] ? 6 : 10 %>
    });
</script>

<% content_for(:title) {"Overview"} %>
<div class="gridster">
  <ul>
    <% if params['team'] %>
      <li data-row="1" data-col="1" data-sizex="<%= params['team'] ? 6 : 10 %>" data-sizey="1">
        <div data-view="ServerStatusSquares" data-title="<%= Config::TEAMS_TITLES[params['team']] %> - Build Status"></div>
      </li>
    <% end %>

    <% (params['team'] ? Config::TEAM_PROJECTS[params['team']] : Config::PROJECTS).each do |data| %>
      <% if data[:prodUrl] %>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="<%= data[:name] %>-prod" data-view="ServerStatusSquares" data-title="<%= data[:title] %> - Prod"></div>
        </li>
      <% end %>
    <% end %>
    <% (params['team'] ? Config::TEAM_PROJECTS[params['team']] : Config::PROJECTS).each do |data| %>
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="circle-ci-ministryofjustice-<%=data[:repo] || data[:name]%>-main" data-view="CircleCi" data-title="<%=data[:title]%>"></div>
      </li>
    <% end %>
  </ul>
</div>
